<?xml version="1.0"?>
<robot  name="UNNAMED_3" >
 <link  name="obj_d" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="30.0 40.0 15.0" />
   <mass  value="150.0" />
   <inertia  iyy="0.001"  ixz="0"  izz="0.001"  ixy="0"  iyz="0"  ixx="0.001" />
  </inertial>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="3.0 6.0 0.5" />
   </geometry>
  </collision>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="3.0 6.0 0.5" />
   </geometry>
   <material  name="color" >
    <color  rgba="0.8 0.6 0.17 1.0" />
   </material>
  </visual>
 </link>
</robot>
